.textwidget {
    .wordcamp-photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 1em;
        li {
            width: 100%;
            list-style-position: inside;
            @media screen and (min-width: 20em) {
                width: calc((100% - 1em) / 2);
            }
            @media screen and (min-width: 48em) {
                width: calc((100% - 2em) / 3);
            }
        }
    }
    h2 {
        .widget-title {
            @media screen and (min-width: 48em) {
                font-size: 1.25rem;
                margin-bottom: 1em;
            }
        }
    }
}
